<!-- <div class="contenedor">
    <div class="row">
      <div class="col-7 ">
        <h1>Bienvenido a tu oferta app</h1>
        <br>
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Saepe quas similique culpa neque, distinctio, dignissimos sed dolore tenetur debitis vitae quod quo
          inventore voluptatibus molestias. Nulla nam iusto libero molestias.</h6>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 offset-md-1 offset-lg-1">
          <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Correo</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese el correo">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese la clave">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </div>
    </div>
  </div> -->
<div class="login-container">
  <div class="card text-center">
  <div class="card-header">
    Bienvenido a tu OfertaApp
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary" id="ingresar" routerLink="/principal">Submit</button>
    </form>
    <div class="form-group">
      <label>¿Aún no estás registrado?</label>
      <button type="submit" class="btn btn-primary" id="registrar">Registrarse</button>
    </div>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
  </div>
</div>
