<div class="contenedor">
    <form>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail4">Nombre</label>
            <input type="email" class="form-control" id="inputEmail4" >
          </div>
          <div class="form-group col-md-12">
            <label for="inputPassword4">Nit</label>
            <input type="password" class="form-control" id="inputPassword4" >
          </div>
          <div class="form-group col-md-12">
             <label for="inputPassword4">Detalle</label>
             <input type="password" class="form-control" id="inputPassword4" >
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputState">Tipo de negocio</label>
                <select id="inputState" class="form-control">
                  <option selected>Selecionar..</option>
                  <option>Restaurante</option>
                  <option>Bar</option>
                  <option>Mercado</option>
                  <option>Almacen</option>
                  <option>Cine</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                  <label for="inputAddress2">Foto</label>
                  <input type="text" class="form-control" id="inputAddress2" >
                </div>
        </div>

        <button type="submit" class="btn btn-primary">Registrar me</button>
      </form>
</div>
